@import '../../../variables.css';

.whole {
  padding: 30px 30px;
}

.header {
  border-bottom: 1px solid var(--borderColor);
  padding: 15px;
}

.info {
  font-size: 1.2rem;
  padding: 10px;
}

.body {
  padding: 15px;
}

.token {
  width: 100%;
  font-size: var(--fontSizeS);
  display: table;
}

.copy-token {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.token-text {
  display: table-cell;
  vertical-align: middle;
  overflow-x: scroll;
  word-wrap: break-word;
}

.usage {
  display: inline-block;
  margin-right: 5px;
}

.total {
  margin-left: 5px;
  display: inline-block;
}
