@import '../../../variables.css';

.whole {
  padding: 30px 30px;
}

.header {
  border-bottom: 1px solid var(--borderColor);
  padding: 15px;
}

.info {
  font-size: 1.1rem;
  padding: 10px;
}

.install {
  margin-top: 20px;
  font-size: 1.1rem;
  padding: 10px;
}

.command {
  font-size: 0.9rem;
  padding: 15px;
  margin-left: 20px;
  margin-top: 30px;
  border: 1px solid var(--borderColor);
  background-color: rgb(255, 250, 240);
}

.body {
  padding: 15px;
}

.token {
  width: 100%;
  /*line-height: 100px;*/
  font-size: 0.8rem;
  display: table;
}

.copy-token {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.token-text {
  display: table-cell;
  vertical-align: middle;
  overflow-x: scroll;
  word-wrap: break-word;
}
