@import '../../../variables.css';

.main {
  margin-top: 70px;
}

.header {
  composes: paper-header from '../../../common.css';
}

.body {
  padding: 40px;
}

.plan {
  margin-bottom: 60px;
}

.plan-attr {
  margin-right: 15px;
  font-size: var(--fontSizeS);
}

.message {
  composes: sub-text from '../../../common.css';
  margin-bottom: 5px;
}

.card-logos {
  text-align: center;
  width: 100%;
}

.form {
  padding-top: 5px;
}

.label {
  font-size: var(--fontSizeS);
  color: var(--subTextColor);
}

.form-group {
  margin-bottom: 20px;
}

.card-nubmer {
  letter-spacing: 0.1rem;
}

.expiration {
  width: 30px;
  margin-right: 10px;
}

.progress {
  margin-bottom: 10px;
}
