{
  "presets": [
    "es2015",
    "es2016",
    "es2017",
    "react",
    "babel-preset-power-assert"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    ["babel-plugin-espower", { "embedAst": true }],
    "react-hot-loader/babel"
  ]
}
