#---------------------------------
# Directories
#---------------------------------
**/node_modules/
target/
tmp/

#---------------------------------
# Extensions
#---------------------------------
*.gz
*.log
*.rar
*.tar
*.zip

#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db

#---------------------------------
# Dot file
#---------------------------------
.env
