@import '../../variables.css';

.wrapper {
  margin-top: 100px;
}

.main {
}

.header {
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: var(--accent2Color);
}

.body {
  padding: 30px;
  text-align: center;
}

.send-mail {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.bottom {
  text-align: center;
}
