@import '../../variables.css';

.whole {
  display: flex;
  width: 85px;
  height: 100%;
  flex-direction: column;
  background-color: var(--primary1Color);
  text-align: center;
  overflow: visible;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}

.item {
  cursor: pointer;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
}

.item:hover {
  background-color: #EB460A;
}

.item-selected {
  background-color: #EB460A;
}

.item:last-child {
  margin-top: 100px;
}

.text {
  color: white;
  font-size: var(--fontSizeS);
}
