version: 2.0

references:

  container_config: &container_config
    docker:
      - image: circleci/node:6
        environment:
          PROJECT_NAME: orangesys
          CLOUDSDK_COMPUTE_ZONE: asia-east1-c
          CLUSTER_NAME: orangesysio
    working_directory: /root/app

  workspace_root: &workspace_root
    /tmp/workspace

  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root

  load_code: &load_code
    run:
      name: load code from workspace
      command: |
        # Move all files and dotfiles to current directory
        mv /tmp/workspace/app/* /tmp/workspace/app/.[!.]* .

  js_cache_key: &js_cache_key
    key: dependency-npm-{{ checksum "package.json" }}-{{ checksum "firebase-functions/package.json" }}

  restore_app_node_modules: &restore_app_node_modules
    run:
      name: Restore app npm dependencies from workspace
      command: mv /tmp/workspace/node_modules ./

  restore_firebase_node_modules: &restore_firebase_node_modules
    run:
      name: Restore firebase npm dependencies from workspace
      command: mv /tmp/workspace/firebase-functions/node_modules firebase-functions/

jobs:
  checkout_code:
    <<: *container_config
    steps:
      - checkout
      - run:
          command: |
            mkdir -p /tmp/workspace/app
            mv * .[!.]* /tmp/workspace/app/
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - app

  build_dependencies:
    <<: *container_config
    steps:
      - *attach_workspace
      - *load_code
      - restore_cache:
          <<: *js_cache_key
      - run:
          name: download dependencies
          command: |
            if [ ! -d node_modules -o ! -d firebase-functions/node_modules ]; then
              set -exu
              npm install --silent
              npm run functions:install
            fi
      - save_cache:
          <<: *js_cache_key
          paths:
            - /root/app/node_modules
            - /root/app/firebase-functions/node_modules

      - run:
          name: Move dependencies to workspace
          command: |
            mv node_modules /tmp/workspace/
            mv firebase-functions/node_modules /tmp/workspace/firebase-functions/
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - node_modules
            - firebase-functions/node_modules

  npm_test:
    <<: *container_config
    steps:
      - *attach_workspace
      - *load_code
      - *restore_app_node_modules
      - *restore_firebase_node_modules
      - run:
          name: test app.orangesys.io
          command: |
            echo $NODEJS_ENV_DEV | base64 --decode -i > .env
            npm test
      - run:
          name: check functions
          command: npm run functions:check
      - run:
          name: test functions
          command: npm run functions:test
      - run:
          name: test webpack
          command: |
            export PATH="$(npm bin):$PATH"
            env $(cat .env | xargs) webpack -p --progress

  deploy:
    <<: *container_config
    steps:
      - *attach_workspace
      - *load_code
      - *restore_app_node_modules
      - *restore_firebase_node_modules
      - run:
          name: build with production
          command: |
            export PATH="$(npm bin):$PATH"
            echo $NODEJS_ENV_PROD | base64 --decode -i > .env
            env $(cat .env | xargs) webpack -p --progress
            firebase deploy --project "$FIREBASE_PROJECT" --token "$FIREBASE_TOKEN" --non-interactive
            firebase functions:config:set stripe.secret_key=$STRIPE_SECRET_KEY --project "$FIREBASE_PROJECT" --token "$FIREBASE_FUNCTIONS_TOKEN"
            firebase functions:config:set mail.mailjet_public_key=$MAILJET_PUBLIC_KEY --project "$FIREBASE_PROJECT" --token "$FIREBASE_FUNCTIONS_TOKEN"
            firebase functions:config:set mail.mailjet_private_key=$MAILJET_PRIVATE_KEY --project "$FIREBASE_PROJECT" --token "$FIREBASE_FUNCTIONS_TOKEN"
            firebase functions:config:set mail.from=$MAILJET_SENDER_ADDRESS --project "$FIREBASE_PROJECT" --token "$FIREBASE_FUNCTIONS_TOKEN"
            firebase functions:config:set mail.to=$MAILJET_SENDER_ADDRESS --project "$FIREBASE_PROJECT" --token "$FIREBASE_FUNCTIONS_TOKEN"
            firebase functions:config:set webhook.stripe_invoice=$WEBHOOK_STRIPE_INVOICE --project "$FIREBASE_PROJECT" --token "$FIREBASE_FUNCTIONS_TOKEN"
            npm run functions:build
            firebase deploy --only functions --project "$FIREBASE_PROJECT" --token "$FIREBASE_FUNCTIONS_TOKEN" --non-interactive
            curl -s -S -X POST --data-urlencode "payload={'channel': '#ops', 'text': ':earth_asia: :fire: release $CIRCLE_PROJECT_REPONAME (SHA1 $SHORT_HASH) completed (build $CIRCLE_BUILD_NUM)' }" $SLACK_OPS >/dev/null

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - checkout_code
      - build_dependencies:
          requires:
            - checkout_code
      - npm_test:
          requires:
            - checkout_code
            - build_dependencies
      - deploy:
          requires:
            - checkout_code
            - build_dependencies
            - npm_test
          filters:
            branches:
              only: release
