.whole {
  width: 100%;
  height: 100%;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}
.loader {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
