@import '../../variables.css';

.wrapper {
  margin-top: 30px;
}

.container {
}

.main {
}

.navigation-wrapper {
  margin-bottom: 50px;
}

.navigation {
  text-align: right;
}


.header {
  composes: paper-header from '../../common.css';
}

.body {
  padding: 30px 40px;
}

.field-wrapper {
  padding: 14px 0;
}

.bottom {
  text-align: center;
  padding: 20px 25px;
}

.progress {
  margin-bottom: 20px;
}

.regist {
  width: 80%;
  margin-bottom: 30px;
}

.external-regist {
  padding-top: 20px;
}

.external-regist-text {
  composes: help from '../../common.css';
}

.oauth-buttons {
  padding-top: 20px;
}
