@import '../../../variables.css';

.whole {
  padding: 30px 30px;
}

.main {
  font-size: 1.1rem;
  min-height: 300px;
  padding: 10px;
}

.header {
  border-bottom: 1px solid var(--borderColor);
  padding: 15px;
}

.body {
  padding: 15px;
}

.price {
  margin-right: 3px;
}
