@import './variables.css';

.help {
  color: var(--subTextColor);
  font-size: 0.8rem;
}

.paper-header {
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: var(--accent2Color);
}

.sub-text {
  color: var(--subTextColor);
  font-size: 0.8rem;
  text-align: center;
}
