:root {
  --primary1Color: #F4511E; /* deepOrange500 */
  --primary2Color: #F4511E; /* deepOrange600 */
  --primary3Color: #E0E0E0; /* grey300 */
  --accent1Color: #64B5F6; /* blue300 */
  --accent2Color: #FF8224;
  --accent3Color: #E0E0E0; /* grey300 */
  --subTextColor: #828282;
  --errorBackgroundColor: rgb(250, 100, 100);
  --errorColor: rgb(200, 0, 0);
  --borderColor: #E0E0E0; /* grey300 */
}
