@import '../../../variables.css';

.main {
  margin-top: 70px;
}

.header {
  composes: paper-header from '../../../common.css';
}

.body {
  padding: 40px;
}

.message {
  composes: sub-text from '../../../common.css';
  margin-bottom: 20px;
}

.plan-item {
  margin-bottom: 10px;
  cursor: pointer;
  background-color: white;
}

.plan-attr {
  margin-right: 15px;
  font-size: 0.8rem;
}

.plan-item:hover {
  background-color: rgb(255, 235, 100);
  /*background-color: rgb(255, 255, 200);*/
}
