@import '../../../variables.css';

.main {
  margin-top: 70px;
}

.header {
  composes: paper-header from '../../../common.css';
}

.body {
  padding: 40px;
}

.message {
  composes: sub-text from '../../../common.css';
  margin-bottom: 20px;
}
