@import '../../../variables.css';
@import '../../../css_modules/layout/left.css';

.whole {
  margin-top: 50px;
  display: flex;
}

.paper {
  padding: 20px;
}

.token {
  width: 100%;
  font-size: var(--fontSizeS);
  display: table;
}

.copy-token {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.token-text {
  display: table-cell;
  vertical-align: middle;
  overflow-x: scroll;
  word-wrap: break-word;
}
