@import '../../../variables.css';


.whole {
  padding: 40px;
}

.paper {
  padding: 25px;
  width: 100%;
}

.hint {
  composes: sub-text from '../../../common.css';
  text-align: left;
}

.submit {
  margin-top: 20px;
}
