@import '../../../variables.css';
@import '../../../css_modules/layout/left-small.css';

.whole {
  margin-top: 50px;
  display: flex;
}

.main {
  min-height: 200px;
  padding: 70px 20px 20px 20px;
  text-align: center;
}
