@import '../../media.css';

@media (--pc-viewport) {
  .layout-offset {
    width: 30%;
  }
  .layout-main {
    width: 40%;
  }
}

@media (--tablet-viewport) {
  .layout-offset {
    width: 22%;
  }
  .layout-main {
    width: 56%;
  }
}

@media (--sp-viewport) {
  .layout-offset {
    width: 2%;
  }
  .layout-main {
    width: 96%;
  }
}
