@import '../../media.css';

@media (--pc-viewport) {
  .layout-offset-left {
    width: 10%;
  }
  .layout-main {
    width: 35%;
  }
  .layout-offset-right: {
    width: 55%;
  }
}

@media (--tablet-viewport) {
  .layout-offset-left {
    width: 5%;
  }
  .layout-main {
    width: 55%;
  }
  .layout-offset-right: {
    width: 40%;
  }
}

@media (--sp-viewport) {
  .layout-offset-left {
    width: 4%;
  }
  .layout-main {
    width: 92%;
  }
  .layout-offset-right: {
    width: 4%;
  }
}
