@import '../../../variables.css';
@import '../../../css_modules/layout/left-small.css';

.whole {
  margin-top: 50px;
  display: flex;
}

.paper {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
