@import '../../variables.css';

.whole {
  min-height: 100%;
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 700px;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid var(--colorPrimary1);
  width: 100%;
  padding-left: 34px;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: var(--fontSizeXL);
  background-color: var(--colorWhite);
  box-shadow: 0 3px 3px 0 rgb(230, 230, 230);
}

.app-name {
  color: var(--colorPrimary1);
}

.seperator {
  margin-left: 10px;
  margin-right: 10px;
  color: var(--colorDarkGray);
  letter-spacing: 0;
  font-size: 8px;
}

.content {
}
