@import '../../../variables.css';

.whole {
  width: 100%;
}

.guide {
  font-size: var(--fontSizeS);
  color: var(--colorSubText);
}

.logos {
  margin-top: 10px;
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  font-size: var(--fontSizeS);
  color: var(--colorSubText);
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.action {
  margin-top: 30px;
  width: 100%;
}
