@import '../../../variables.css';

.whole {
  padding: 30px;
}

.profile {
  padding: 10px 40px 20px 40px;
}

.attrs {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 30px;
}

.email {
  margin-bottom: 10px;
}

.progress {
  margin-bottom: 20px;
}

.providers {
  margin-top: 30px;
}

.provider-list {
 list-style-type: none;
 padding-left: 10px;
}

.provider-item {
  margin-top: 10px;
  font-size: var(--fontSizeM);
}

.label {
  font-size: var(--fontSizeS);
  color: rgb(180, 180, 180);
}
