
@import '../../../variables.css';

.whole {
  /*display: flex;*/
}

.main {
  margin-left: 85px;
}

.header {
  border-bottom: 3px solid var(--primary1Color);
  color: var(--primary1Color);
  line-height: 50px;
  padding: 20px 40px 0 40px;
  vertical-align: bottom;
  font-size: 1.4rem;
  font-weight: 500;
}
