@import '../../../../variables.css';

.whole {
  height: 200px;
  width: 350px;
}

.content {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.content:hover {
  background-color: rgba(250, 130, 80, 0.1);
}

.title {
  font-size: var(--fontSizeL);
  text-decoration: underline;
}

.price {
  font-size: var(--fontSizeXL);
  font-weight: bold;
  color: var(--colorPrimary1);
}

.attributes {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  font-size: var(--fontSizeS);
}
