@import '../../variables.css';

.whole {
  margin-bottom: 10px;
  cursor: pointer;
  background-color: white;
  text-align: center;
}

.whole-with-hover {
  margin-bottom: 10px;
  cursor: pointer;
  background-color: white;
  text-align: center;
}

.whole-with-hover:hover {
  background-color: rgb(255, 235, 100);
}

.title {
  font-size: var(--fontSizeM);
  padding: 10px;
  border-bottom: 1px solid var(--borderColor);
}

.body {
  padding: 20px 0 10px 0;
}

.price {
  font-size: 1.3rem;
  color: var(--primary2Color);
  margin-right: 5px;
}

.attrs {
  text-align: left;
  margin: 20px auto 0 auto;
  width: 160px;
  font-size: var(--fontSizeS);
}

.attrs > li {
  list-style-type: none;
}
