@import '../../../variables.css';
@import '../../../css_modules/layout/left-small.css';

.whole {
  margin-top: 50px;
  display: flex;
}

.paper {
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.guide {
  font-size: var(--fontSizeS);
  margin-bottom: 30px;
}

.cards {
  display: flex;
  flex-direction: column;
}

.card {
  margin-bottom: 15px;
}
